:root {
  --buttcolor: #1b91ff;
  --backcolor: black;
}

* {
  box-sizing: border-box
}

/* Set height of body and the document to 100% */
body,html {
  background-color: #000000;
  height: 100%;
  margin: 0;
  font-family: Arial;
  user-select: none;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: slidein;

}
@keyframes slidein {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
img {
  pointer-events: none;
}

.power {
  border: none;
  background-color: black;
  height: 40px;
  width: 40px;
}

.power:hover {
  background-color: #555;
}

.power:active {
  background-color: var(--buttcolor);
}

.confbuttons {
  font-size: 120%;
  color: #ffffff;
  border: none;
  background-color: #555;
}

.confbuttons:hover {
  background-color: #777;
}

.confbuttons:active {
  background-color: var(--buttcolor);
}

#app {
  color: white;
  background-color: #555;
  border: none;
  height: 80px;
  width: 120px;
}

#app:active {
  background-color: var(--buttcolor);
}

/* button:hover {
  background-color: #777;
} */

#app:hover {
  background-color: #777;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked~.toggle__fill {
  background: #00aeff;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 40px;
  padding: 0;
  width: 40px;
}

.power_btns {
  position: fixed;
  bottom: 0;
  right: 0;
}

.toggle__input:checked~.toggle__fill::after {
  transform: translateX(var(--height));
}

iframe {
  overflow: hidden;
  border: 0;
}

.tabcontent {
  background-color: var(--backcolor);
}

.time {
  color: #fff;
  position: absolute;
  top: 3px;
  right: 50px;
} 
#windowapp{
  padding: 10px;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  /*border: 1px solid #d3d3d3;*/
}

#windowappheader {
  transform: translate(-10px, -10px);
  width: calc(100% + 20px);
  padding: 10px;
  cursor: move;
  z-index: 10;
  /* background-color: #2196F3; */
  background-color: var(--buttcolor);
  color: #fff;
  position: relative
}
#super_puper_loler_cool_do_not_use_this_closebtn{
  
  width: 40px;
  height: 100%;
  top: 0;
  position: absolute ;
  right: 0;
  background-color: #ff0000;
  color: #ffffff;
  border: none;

}
#super_puper_loler_cool_do_not_use_this_closebtn:hover{
background-color: #ff2a2a;
}  
#super_puper_loler_cool_do_not_use_this_closebtn:active{
  background-color: #db3b3b;
}
#super_puper_loler_cool_do_not_use_this_hidebtn{
  width: 20px;
  height: 100%;
  top: 0;
  position: absolute ;
  right: 40px;
  background-color: #00a2ff;
  color: #ffffff;
  border: none;
}
#super_puper_loler_cool_do_not_use_this_hidebtn:hover{
  background-color: var(--buttcolor);
  }  
  #super_puper_loler_cool_do_not_use_this_hidebtn:active{
    background-color: #005d92;
  }
#taskbar{
  background-color: rgb(37, 37, 37);
   position: fixed;
  bottom: 0%;
  right: 0; 
  width: 100%;
  height: 40px;

  animation-duration: 0.5s;
  animation-name: taskslidein;

}
@keyframes taskslidein {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0%;
  }
}
#taskbutton{
  height: 100%;
 
  background-color: var(--buttcolor);
  color: #ffffff;
  border: none;
  border-left: 1px solid  rgb(37, 37, 37);
}
.applistactive{background-color: var(--buttcolor);}
.applistactive:hover{ background-color: var(--buttcolor);}